@media screen and (max-width:1279px) {
    .MobileMenu{
        background: url('../Images/black-linen.png');
        background-color: #444;
    }
    .Bars {
      font-size: 25px;
    }
    .MobileMenu{
        display: block;
        font-size:18px;
        color: #fff;
        margin:10px 0px;
    }
  }
  